html, body {
    border: none;
    font-family: 'Roboto', sans-serif;
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
    touch-action: none;
}

#hidden-canvas {
    left: 0;
    position: fixed;
    transform: translateY(-150%);
    top: 0;
}

#main-loader-wr {
    display: none;
    height: 100px;
    left: 50%;
    pointer-events: none;
    position: absolute;
    top: 50%;
    transform: translate3d(-50%, -50%, 0);
    width: 100px;

    --pi: 3.141592653589793;
    --progress: 0%;
}

.main-loader {
    height: 100%;
    width: 100%;
    filter: drop-shadow(0 0 4px #fff);
}

.main-loader > circle {
    fill: none;
    stroke-width: 7%;
}

.main-loader > .circle-bg {
    stroke: #fff6;
}

.main-loader > .circle-fg {
    transform: rotate(-90deg);
    transform-origin: center;
    stroke: #fffa;
    stroke-dasharray: calc(.46 * 2 * var(--pi) * var(--progress)) 1000%;
    transition: stroke-dasharray 250ms;
}

#main-canvas {
    background-color: #8908ab90;
    border: none;
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
}

.bottom-info-wr {
    bottom: 0;
    color: #000b;
    filter: drop-shadow(0 0 3px #fff9);
    font-size: 14px;
    padding: .5em;
    position: absolute;
    right: 0;
    text-align: right;
}
