html, body {
    align-items: center;
    background: #3b1dff90;
    border: none;
    color: #000b;
    display: flex;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    justify-content: center;
    height: 100%;
    margin: 0;
    overflow: hidden;
    padding: 0;
    width: 100%;
    touch-action: none;

    --btn-size: 38px;
    --menu-color: #fff8;
    --menu-color-a2: #fffa;
    --tx: 300ms;
}

input {
    border: none;
    margin: 0;
    padding: 0;
}

button {
    background: unset;
    border: none;
    color: unset;
    cursor: pointer;
    font-size: unset;
    margin: 0;
    padding: 0;
}

@media (hover: hover) {
    button:hover {
        text-decoration: underline;
    }
}

.round-button {
    background-color: var(--menu-color);
    border-radius: calc(var(--btn-size) * .5);
    color: #000a;
    height: var(--btn-size);
    line-height: var(--btn-size);
    text-align: center;
    transition: background-color var(--tx), color var(--tx), opacity var(--tx), transform var(--tx);
    width: var(--btn-size);
}

@media (hover: hover) {
    .round-button:hover {
        background-color: var(--menu-color-a2);
        color: #000e;
    }
}

.round-button > .material-symbols-outlined {
    font-size: 30px;
    line-height: var(--btn-size);
}

#hidden-canvas {
    left: 0;
    position: fixed;
    transform: translateY(-150%);
    top: 0;
}

#main-loader-wr {
    display: none;
    height: 100px;
    left: 50%;
    pointer-events: none;
    position: absolute;
    top: 50%;
    transform: translate3d(-50%, -50%, 0);
    width: 100px;

    --pi: 3.141592653589793;
    --progress: 0%;
}

.main-loader {
    height: 100%;
    width: 100%;
    filter: drop-shadow(0 0 4px #fff);
}

.main-loader > circle {
    fill: none;
    stroke-width: 7%;
}

.main-loader > .circle-bg {
    --stroke-d: #fff6;
    --stroke-l: #fff9;
    animation: 1.8s ease-in-out infinite circle-glow;
    stroke: var(--stroke-d);
}

.main-loader > .circle-fg {
    --stroke-d: #fffa;
    --stroke-l: #ffff;
    animation: 1.8s ease-in-out infinite circle-glow;
    transform: rotate(-90deg);
    transform-origin: center;
    stroke: var(--stroke-d);
    stroke-dasharray: calc(.46 * 2 * var(--pi) * var(--progress)) 1000%;
    transition: stroke-dasharray 250ms;
}

@keyframes circle-glow {
    0% { stroke: var(--stroke-d) }
    27% { stroke: var(--stroke-d) }
    40% { stroke: var(--stroke-l) }
    53% { stroke: var(--stroke-d) }
    100% { stroke: var(--stroke-d) }
}

#main-canvas {
    background-color: #fff2;
    border: none;
    box-shadow: 0.3em 0.3em 1em #0002;
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
}

.main-menu {
    background-color: var(--menu-color);
    border-radius: calc(var(--btn-size) / 4);
    display: flex;
    filter: drop-shadow(0 0 3px #fff9);
    left: calc(var(--btn-size) * .375);
    position: absolute;
    top: calc(var(--btn-size) * .375);
    transition: transform var(--tx), background-color var(--tx), opacity var(--tx);
}

.menu-content {
    transition: opacity var(--tx);
    padding: .5em 0 .5em .5em;
    margin-right: -.25em;
}

.main-menu.collapsed {
    background-color: transparent;
    pointer-events: none;
    transform: translateX(calc(-100% + var(--btn-size)));
}

.main-menu.collapsed > .menu-content {
    opacity: 0;
}

.main-menu.collapsed > .menu-button {
    transform: rotateY(-180deg);
    pointer-events: all;
}

.main-menu:not(.collapsed) > .menu-button {
    background-color: transparent;
}

@media (hover: hover) {
    .main-menu:not(.collapsed) > .menu-button:hover {
        color: #000f;
    }
}

.menu-controls > label {
    display: block;
}

.menu-controls > input {
    display: block;
    margin-bottom: .25em;
    width: 100%;
}

.reset-btn {
    color: #444b;
    letter-spacing: .05em;
    padding: .25em;
    margin-left: 50%;
    transform: translateX(-50%);
}

.info-wr {
    display: grid;
    gap: .25em .75em;
    grid-template-columns: auto auto;
}

.info-wr > .info-caption {
    color: #222b;
}

.social-wr {
    fill: #0006;
    display: flex;
    justify-content: center;
    margin-top: .5em;
}

.social-wr > a:not(:last-child) {
    margin-right: .4em;
}

.social-wr > a {
    transition: fill var(--tx);
}

@media (hover: hover) {
    .social-wr > a:hover {
        fill: #000c;
    }
}

.social-wr > a > svg {
    height: 20px;
    width: 20px;
}



.reset-coords-button {
    position: absolute;
    right: calc(var(--btn-size) / 2);
    top: calc(var(--btn-size) / 2);
}

.reset-coords-button > .material-symbols-outlined {
    margin-top: -1px;
}
